html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: #ffffff;
    color: #000000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.35rem 1rem;
}

/* 今月表示 */
#header-month {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    bottom: 0.3rem;
}

/* 右上ボタン */
.header-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-button label {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    background: none;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}

.dropdown-btn {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555555;
    outline: none;
    overflow: hidden;
}

.dropdown-btn::before {
    content: "🗓";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    height: 50%;
    left: 70%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

input[type="month"] {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

main-content {
    height: calc(100vh - 3rem - 1rem);
    display: flex;
    flex-direction: column;
}

.calendar-scroll {
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
}

.calendar-scroll::-webkit-scrollbar {
  display: none;
}


/* 曜日 */
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
}

.weekdays .sat { color: #2563ed; }
.weekdays .sun { color: #dc2626; }

/* カレンダー */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    padding-top: 0.15rem;
}

/* カレンダー1マス */
.day {
    text-align: center;
    padding: 0 0 2.75rem;
    border-radius: 0.75rem;
}

/* カレンダー今日 */
.day.today {
    background: #cccccc;
    color: #ffffff;
}

.day.other-month {
    color: #cccccc;
}

/* カレンダー選択日付 */
.day.selected {
    background: #222222;
    color: #ffffff;
}

.calendar-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
}

.calendar-container {
    min-width: 100vw;
    scroll-snap-align: start;
}

/* 下部 */
.detail {
    padding: 0.25rem;
}

/* 下部日付 */
.detail h2 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
}

/* 予定追加 */
.add-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    border: none;
    background: #f3f4f6;
}

/* ボトムメニュー */
.bottom-menu {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-menu button {
    background: none;
    border: none;
    font-size: 0.75rem;
}
.bottom-menu button {
    background: none;
    border: none;
    font-size: 0.75rem;
}